.bar{
    height: 25px;
}

.html-progress{
    width: 70%;
}

.javascript-progress{
    width: 60%;
}

.bootstrap-progress{
    width: 85%;
}

.nodejs-progress{
    width: 75%;
}

.express-progress{
    width: 75%;
}

.mongodb-progress{
    width: 65%;
}

.chartjs-progress{
    width: 60%;
}